[project]
	description = A python orchestrator for a installing, upgrading, and managing a collection of helm charts, dependencies, and values overrides.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group cLCP-core
	owner = group user/jenkins-attcomdev
[access "refs/for/refs/*"]
	read = group user/jenkins-attcomdev
	push = group user/jenkins-attcomdev
	label-Code-Review = -2..+2 group user/jenkins-attcomdev
	label-Verified = -1..+1 group user/jenkins-attcomdev
	rebase = group user/jenkins-attcomdev
	removeReviewer = group user/jenkins-attcomdev
	submit = group user/jenkins-attcomdev
[access "refs/heads/*"]
	read = group user/jenkins-attcomdev
	create = group user/jenkins-attcomdev
	push = +force group user/jenkins-attcomdev
	pushMerge = group user/jenkins-attcomdev
[access "refs/tags/*"]
	push = group user/jenkins-attcomdev
	push = +force group user/jenkins-attcomdev
