[project]
	description = A python orchestrator for a installing, upgrading, and managing a collection of helm charts, dependencies, and values overrides.
[access]
	inheritFrom = All-Projects
[label "Verified"]
	function = MaxWithBlock
	value = -1 Failed!
	value =  0 Not Verified
	value = +1 Verified
	defaultValue = 0
[label "Workflow"]
	function = MaxWithBlock
	value = -1 You shall not pass!
	value =  0 No score
	value = +1 Approved
	defaultValue = 0
[access "refs/*"]
	owner = group attcomdev-projectbootstrap
	owner = group user/Jenkins (jenkins-attcomdev)
	create = group attcomdev-projectbootstrap
	create = group attcomdev-releasemanagers
	forgeAuthor = group Registered Users
	forgeCommitter = group attcomdev-projectbootstrap
	push = +force group attcomdev-projectbootstrap
	pushMerge = group attcomdev-projectbootstrap
	viewDrafts = group attcomdev-projectbootstrap
	editTopicName = group attcomdev-projectbootstrap
	deleteDrafts = group attcomdev-projectbootstrap
	publishDrafts = group attcomdev-projectbootstrap
[access "refs/for/refs/*"]
	read = group Registered Users
	read = group user/Jenkins (jenkins-attcomdev)
	push = group Registered Users
	rebase = group Registered Users
	removeReviewer = group user/Jenkins (jenkins-attcomdev)
	submit = group attcomdev-approvers
	submit = group attcomdev-projectbootstrap
	submit = group user/Jenkins (jenkins-attcomdev)
[access "refs/heads/*"]
	read = group user/Jenkins (jenkins-attcomdev)
	create = group user/Jenkins (jenkins-attcomdev)
	push = group attcomdev-projectbootstrap
	push = +force group user/Jenkins (jenkins-attcomdev)
	pushMerge = group attcomdev-projectbootstrap
	pushMerge = group user/Jenkins (jenkins-attcomdev)
	label-Code-Review = -2..+2 group attcomdev-approvers
	label-Code-Review = -2..+2 group attcomdev-projectbootstrap
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group attcomdev-ci-tool
	label-Verified = -1..+1 group attcomdev-projectbootstrap
	label-Verified = -1..+1 group attcomdev-verify
	label-Workflow = -1..+1 group attcomdev-ci-tool
	label-Workflow = -1..+1 group attcomdev-projectbootstrap
	label-Workflow = -1..+1 group attcomdev-workflow
	submit = group attcomdev-projectbootstrap
	rebase = group Registered Users
[access "refs/tags/*"]
	push = group attcomdev-ci-tool
	push = group cLCP-core
	push = group user/Jenkins (jenkins-attcomdev)
	push = +force group user/Jenkins (jenkins-attcomdev)
[access "refs/meta/*"]
	label-Workflow = -1..+1 group attcomdev-projectbootstrap
	label-Verified = -1..+1 group attcomdev-ci-tool
	read = group attcomdev-projectbootstrap
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
